@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');


%container-format {
    border-radius: 10px;
    padding: 5px;
    border: 3px solid #3730a3;
}
$fontFamily:'Courier New', Courier, monospace;
$fontCards: 'Nova Mono', 'Maiden Orange', 'Pirata One';
$buttonWidth: 200px;

html, body {
    width: 100%;
    height: 100%;  
}
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.form { 
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr;


    .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #9333ea;
    color: white;
    padding: 10px;

    display: grid;
    grid-template-rows: 25px;
    grid-auto-rows: 25px;
    gap: 25px;

    label {
        font-family: $fontFamily;
    }
    input {
        @extend %container-format;
        background-color: white;
    }
    button {
        @extend %container-format;
        background-color: #6366f1;
        color: #f5f5f4;
        font-family: $fontFamily;
        padding-bottom: 15px 15px;
        font-weight: bold;
        font-size: 1.05rem;

        &:hover {
            background-color: #4338ca;
        }
    }

}
}

main {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 300px;

    padding: 10px;
    gap: 10px;


    .card {
        @extend %container-format;

        text-align: center;
        font-family: $fontCards;
        letter-spacing: .2rem;
        background-color: #e0e7ff;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        overflow-x: hidden;

        hr {
            width: 200px;
        }
        

        .title {
            font-weight: bold;
            font-size: 2rem;
            line-height: 2rem;

        }
        .author {
            font-size: 1.2rem;
            line-height: 2rem;

        }
        button.read {
            letter-spacing: .3rem;
            margin: 10px;
            padding: 5px 60px;
            background-color: #65a30d;
            color: white;
            width: $buttonWidth;


            &::after {
                content: "READ";
            }
        }
        button.unread {
            letter-spacing: .2rem;
            margin: 10px;
            padding: 5px 50px;
            background-color: red;
            color: white;
            width: $buttonWidth;


            &::before {
                content: "NOT ";
            }
        }
        button.remove {
            color: white;
            background-color: black;
            letter-spacing: .3rem;
            margin: 10px;
            padding: 5px 48px;
            width: $buttonWidth;

        }
        button:hover {
            opacity: .5;
        }
    }
}